<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Phishing Website Detection</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'><link rel="stylesheet" href="{{ url_for('static', filename='./root.css') }}">
<style>
  .form__right {
  line-height: 26px;
  width: 50%;
}
</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="form">
  {% include "Header.html" %}
  <div class="form__box">
    <div class="form__left">
      <div class="form__padding"><img class="form__image" src="https://icon-library.com/images/phishing-icon/phishing-icon-25.jpg"/></div>
    </div>
    <div class="form__right">
      <div class="form__padding-right">
        <form action="/result" method="POST">
          <h1 class="form__title">Phishing Website Detection</h1>
          <input type="hidden" value={{ result }} name="id">
          <input class="form__email" type="text" name="url" placeholder="URL"/>
          <input class="form__submit-btn" type="submit" value="Submit"/>
        </form>     
	</div>
    </div>
  </div>
  {% include "Footer.html" %}
</div>

</body>
</html>
